---
import Layout from '../layouts/Layout.astro';
import  SectionOne from '@/components/SectionOne';
import  { SkillsSection }  from '@/components/SkillsSection';
import { PortfolioSectionComponent } from '@/components/portfolio-section';
import SectionFour from '@/components/SectionFour.astro'
import SectionFive from '@/components/SectionFive.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<SectionOne client:only="react"/>
		<SkillsSection  />
		<PortfolioSectionComponent client:only="react" />
		<SectionFour />
		<SectionFive />

	</main>
</Layout>


